.btn {
  transition: all 0.3s ease;
  padding: 20px 50px;
  border-radius: 7px;
  &:hover {
    box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
    transform: scale(1.03);
  }
}

Button Override
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 7px;
}

.btn-lg {
  padding: 20px 50px;
}

.btn-light {
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.btn-zoom {
  transition: all 0.3s ease;
  transform: scale(1);
  &:hover {
    box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
    transform: scale(1.03);
  }
}

// Code copy buttons
//

.highlight {
  position: relative;
}

.highlight pre {
  padding-right: 5px;
}

.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  opacity: 0.6;
  min-width: 55px;
  text-align: center;
}

.highlight-copy-btn:hover {
  background-color: #666;
}