.floating-toc {
  position: fixed;
  top: 300px;
  left: 20px;
  width: 350px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 15px;
  max-height: 80vh;
  user-select: none;
  overflow-y: auto;

  h3 {
    margin-top: 0;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 8px;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @include desktop {
    display: none;
  }
}

.floating-toc .toc-link.active {
  font-weight: bold !important;
  color: $primary !important;
  background-color: #d6d5d5 !important;
}

.floating-toc .toc-link {
  border-left: 3px solid transparent;
  padding-left: 3px;
  padding-right: 8px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.toc-handle {
  cursor: move; /* Fallback for older browsers */
  cursor: grab;
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin: -10px -10px 10px -10px;
  border-radius: 5px 5px 0 0;
}

.toc-handle:active {
  cursor: grabbing;
}
