{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h1>404 - Page Not Found</h1>
        <p>We're sorry, the page you requested could not be found. Please check the URL and try again, or use the
          navigation menu to find what you're looking for.</p>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
        </nav>
      </div>
    </div>
  </div>
</header>

{{ end }}